nav{
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,0.8);
  padding: 20px;
}

nav .links{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .links a{
  margin: 0 20px;
  color: #d9d9d9;
}

nav .links path{
  color: #d9d9d9;
}

nav .links a{
  text-decoration: none;
}

nav .links a:hover{
  color: white;
  transition: .5s;
  cursor: pointer;
}

nav .links path:hover{
  color: white;
  transition: .5s;
}

nav .links svg:hover{
  cursor: pointer;
}

.nav-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: rgba(245,245,247,0.7);
}

.product-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  width: 110px;
}

.product-wrapper a{
  text-decoration: none;
  margin-top: 10px;
  color: #1d1d1f;
  font-size: 0.8rem;
  text-align: center;
}

.product-wrapper a:hover{
  color: dodgerblue;
}

.product-wrapper path{
  color: #1d1d1f;
}

.text{
  display: flex;
  justify-content: center;
  align-items: center;
}


